<template>
  <div>
    <div v-if="state != 'loading' && state != 'initial' && reccomendations.length > 0" class="text-center mb-5">
      <h2 style="color: green;" class="mb-5">The results are in!</h2>

      <table id="cryptos" class="text-left">
        <tr style="font-size: 1.5em;">
          <th>Crypto</th>
          <th>Price</th>
          <th>Price in {{ responseDays }} days</th>
          <th class="text-right">Profit</th>
        </tr>

        <tr v-for="rec in reccomendations" :key="rec.symbol">
          <td style="font-size: 1.25em;">{{ rec.symbol }}</td>
          <td>$ {{ rec.currentPrice }}</td>
          <td>$ {{ rec.predictedPrice }}</td>
          <td style="color: green; font-weight: 500; font-size: 1.2em;" class="text-right">{{ rec.profit }} %</td>
        </tr>
      </table>

      <div class="mt-10" style="font-size: 1.5em; font-weight: 500;">Need another lambo?</div>
    </div>

    <v-form v-if="state != 'loading'">
      <v-container>
        <v-row>
          <v-col>
            <v-text-field label="Profit %" outlined type="number" v-model="profit"></v-text-field>
          </v-col>

          <v-col>
            <v-text-field label="Time interval (days)" outlined type="number" v-model="days"></v-text-field>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4"></v-col>
          <v-col>
            <v-btn color="success" @click="sendForm">Recommend me some crypto</v-btn>
          </v-col>
          <v-col cols="4"></v-col>
        </v-row>
      </v-container>
    </v-form>

    <div v-if="state == 'loading'" class="text-center">
      <div class="mt-2">
        {{ loadingText }}
      </div>

      <div class="my-5">
        <v-progress-circular
          indeterminate
          color="white"
          :size="50"
        ></v-progress-circular>
      </div>

      <div>
        <img :src="`${publicPath}where-lambo.jpg`" width="400px" class="ml-4">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InvestmentForm',

  data() {
    return {
      publicPath: process.env.BASE_URL,
      profit: 10,
      days: 7,
      state: "initial",
      loadingTextArray: [
        "Reading through Elon Musk's Twitter...",
        "Checking if funds are safu...",
        "Multiplying some numbers...",
        "Eating a burrito...",
        "Dividing some numbers...",
        "Performing Wolf of Wallstreet chant...",
        "Watching the news...",
        "Planning tax-evasion strategy..."
      ],
      loadingText: "",
      responseDays: null,
      responseProfit: null,
      reccomendations: [
        { symbol: "BTC", currentPrice: 43123, predictedPrice: 47549, profit: 10.26 },
        { symbol: "ETH", currentPrice: 2100, predictedPrice: 2700, profit: 28.57 },
        { symbol: "XLM", currentPrice: 100, predictedPrice: 127, profit: 27.00 },
      ]
    }
  },

  mounted() {
    let self = this;
    let counter = 0;
    self.loadingText = self.loadingTextArray[counter];
    counter++;

    setInterval(() => {
      if (counter >= self.loadingTextArray.length) {
        counter = 0;
      }
      self.loadingText = self.loadingTextArray[counter];
      counter++;
    }, 3000);
  },

  methods: {
    sendForm() {
      this.state = "loading";

      let self = this;
      setTimeout(() => {
        self.state = "results"
        self.responseDays = self.days;
        self.responseProfit = self.profit;
      }, 10000);
    }
  }
}
</script>


<style>
#cryptos {
  border-collapse: collapse;
  width: 100%;
}

#cryptos tr:nth-child(even) {
  background-color: #2a2a2a;
}

#cryptos tr:hover {
  background-color: rgb(73, 73, 73);
}

#cryptos td, #cryptos th {
  padding: 8px;
}
</style>
